.header {
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 15px 70px 50px 70px;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}
.header-nav a{
    text-decoration: none;
    color: white;
    
}
.logo-img {
    margin-right: auto;
}

.header-main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #cfddc2;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 7px 24px;
    border-radius: 7px;
    border: 0;
}
/* div class="main" */

h2 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

.main-part-one {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    padding: 0 50px 50px 50px;
}

.main-part-one img {
    height: 100px;
    width: 130px;
    border-radius: 8px;
    border: solid 2px #3882f6;
}

.main-part-one p {
    text-align: center;
    margin-top: 0;
}

.main-part-two {
    background-color: #e5e7eb;
    padding: 60px 50px;
}

.testimonial {
   font-size: 20px;
   font-style: italic; 
   line-height: 150%;
}

.name {
    text-align: end;
    margin: 0;
}
